@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');

/*reset*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button, input{
    font:400 22px "Roboto",sans-serif ;
}

li{
    list-style-type: none;
}
:root{
    --blue: #000088;
    --gray:#555555;
    --skyblue:#00BFFF;
    --sliver:#c0c0c0;
    --red:#ff0000;
    --white:#ffffff;
    --darkgray:#959595;
}


/*Header*/
.main-header{
    background-image: url(background-image.png); /*adicionar imagem no fundo*/
    background-position:50% 39% ; /*alinha os elementos nos eixos x e y*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-nav{
    width: 100%;    
}

.header-list-container{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 16px 0;
}

.nav-item{
    list-style-type: none;
    text-transform: uppercase;
    color: #000080;
}
hr{
    width: 100%;
}

.nav-item a{
    text-decoration: none;
    color: inherit;
}

.nav-item:hover{
    color:rgba(0,0,139,0,7);
    transition: 0.2s;
}

.main-about{
    padding: 10px 6px 64px;
}

.container{
    max-width: 600px;
    padding: 0 16px;
    margin: 0 auto;
}

.title-median{
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;

}

.about-title{
    font-family: "raleway", sans-serif;
    font-size: 32px;
    text-align: center;
    text-decoration: uppercase;
    margin-bottom: 24px;
}

.about-image{
    float: left;
    margin: 0 20px 10px 0;
    width: 200px;
    height: auto;
}
.about-description{
    color: var(--gray);
    text-align: justify;
}
.main-footer{
    background-color: var(--skyblue);
    color: var(--blue);
    padding: 15px 0;
}
.main-footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.list-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.title-smaller{
    font-family: "Raleway", sans-serif;
    color: var(--blue);
    font-size: 26px;
}

.footer-item{
    width: 50px;
    height: 50px;
    padding: 15px 0;
}
.footer-item + .footer-item{
    margin-left: 16px;
}

.contact-text{
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: var(--gray);
}

.contact{
    background-color: var(--skyblue);
    padding: 30px;
    max-width: 600px;
    margin-right:auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.contact-label{
    display: block;
    margin-bottom: 20px;
    color: var(--blue);
}

.contact-field{
    display: block;
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border: none;

}

.contact-fiel:focus{
    background-color: var(--sliver);
    outline: none;
}
.textearea.contato-field{
 height: 150px;
 padding: 10px;
 font-family: calibri;   
}

.button-form{
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
    border-radius: 10px;
    padding: 2px 6px;
    font-weight: bold;
    cursor: pointer;
}

.button-form:hover{
    background-color: var(--white);
    color: var(--blue);
}

.contact-maps{
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
}

.title-header{
    font-family: "Madimi One", cursive;
    color: var(--blue);
    font-size: 35px;
    padding-bottom: 10px;
}

.title-large{
    font-family: "Rock Salt", cursive;
    font-size: 38px;
    color: var(--blue);
    text-align: center;
}

.description{
    text-align: center;
    color: var(--gray);
    padding-bottom: 10px;
}

.emphasis{
    background-color: var(--skyblue);
    color: var(--blue);
    border-radius: 25px;
}

.product-container{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 40px;
padding-bottom: 30px;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title{
    font-size: 20px;
    margin-bottom: 6px;
}

.product-image{
    width: 320px;
    height: 220px;
    margin-bottom: 20px;
}

.product-prince-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.product-price{
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.button-hover{
background-color: var(--skyblue);
color: var(--blue);
border: 2px solid var(--skyblue);
border-radius: 10px;
padding: 4px 2px;
font-weight: bold;
cursor: pointer;

}

.button-hover:hover{
    background-color: transparent;
}

.cart-table{
    width: 100%;
    border-collapse:collapse ;  
}

.table-head-item{
    text-align: start;
    border-bottom: 1px solid var(--darkgray);
    padding-bottom: 6px;
    text-transform: uppercase; 
}

.second-col
.third-col{
width: 25%;
}

.cart-product{
    padding: 8px;
}

.product-indentification{
    display: flex;
    align-items: center;
}

.cart-product-image{
    width: 120px;
    height: 80px;
}

.cart-product-title{
    margin-left: 15px;
}

.cart-product-prince{
    font-family: "Raleway", sans-serif;
}

.product-qnt-input{
    width: 45px;
    height: 35px;
    border: 2px solid var(--blue);
    border-radius: 5px;
    background-color: var(--sliver);
    text-align: center;
}

.remove-product-button{
    background-color: var(--red);
    color: var(--white);
    border: 0;
    border-radius: 5px;
    padding: 4px;
    margin-left: 5px;
}

.remove-product-button:hover{
    filter: brightness(0.8);
}

.cart-total-container{
    border-top: 1px solid var(--darkgray);
    text-align: end;
    padding: 6px 16px 0 0;
}

.cart-total-container strong{
    margin-right: 10px;
}

.purchase-button{
  display: flex; 
  padding: 16px 20px; 
  background-color: var(--blue);
  color: var(--white);
  border-radius: 6px;
  text-transform: uppercase;
  border: 0;
  font-weight: bold;
  margin: 24px auto 0;
}

.purchase-button:hover{
    filter: brightness(0.8) ;
}


/*responsividade*/



@media(max-width:725px) {
    .main-footer-container{
        flex-direction: column;
    }
    .title-median{ 
        font-size:30px ;
        padding: 4px;
    }
}

@media(max-width:680px) {
    .product-container{
        justify-content: center;
    }
   .title-median{
    font-size:27px ;
   }
}

@media(max-width:600px) {
    .title-large{
        font-size: 36px;
    }
    .title-median{
        font-size:24px ;
    }
}



@media(max-width:560px) {
    .title-large{
        font-size: 30px;
    }
    .title-median{
        font-size:21px ;
    }
}

@media(max-width:500px) {
    .title-header{
        font-size: 30px;

    }
    .title-large{
        font-size: 21px;
    }
    .title-median{
        font-size: 18px;
    }
    .title-smaller{
        font-size: 22px;
    }
    
}

@media(max-width:405px) {
    .nav-item img{
        width: 80px;
        height: 80px;
    }
    
    .header-list-container{
        font-size: 18px; 
      
    }
    .description{
        font-size: 19px;
        font-family: "madimi one", cursive;
    }
    .title-median{
        font-size: 17px;
    }
    .product-container{
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .product-image{
        width: 315px;
    }
    
}

@media(max-width:375px) {
    .about-image{
        width: 160px;
    }
    .contact-text{
        font-size: 25px;
    }
    
}












































